@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  flex-direction: row-reverse;
}

.ltr {
  flex-direction: row;
}

.font-text {
  font-family: "Press Start 2P" !important;
  direction: ltr;
}

body {
  background-color: black;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

h2 {
  color: white;
}

input {
  outline: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}