.profile-container {
    @apply flex  items-center rounded-full  w-full h-14;
    background-color: #1B1B1B;
}

.profile-image-container {
    @apply w-10 mx-1 rounded-full ;
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.profile-name-container {
 @apply text-white ml-3 flex flex-col whitespace-nowrap;    
}